# Python-related files
*.pyc
*.pyo
__pycache__/

# Virtual environment
env/
venv/

# Django migrations
*/migrations/*

# Sensitive or system files
*.env
db.sqlite3
.DS_Store
*.log

# Static and media files (if not version controlled)
staticfiles/
media/
